body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary-custom {
    background-color: blue;
    border-color: blue;
}

.btn-upload {
    background-color: orange;
    border-color: orange;
    color: white;
}

.btn-file {
    background-color: violet;
    border-color: violet;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-file:hover {
    background-color: darkviolet;
    border-color: darkviolet;
    color: white;
}
